.chat-bubble-wrapper{
    float: right;
}

.button-wrapper{
    display: inline-block;
    text-align: right;
    float: right;
}

.button{
    display: block;
}

.div-right{
    float: right;
    width: 90%
}
