.chat-bubble-wrapper{
    float: right;
    margin-left: 14%;
}

.button-wrapper{
    width: 20%;
    display: inline-block;
}

.button{
    display: block;
}


.bubble-left{
    background: #fff;
    display: inline-block;
    border-radius: 15px;
    margin: 2px 20px;
    overflow: hidden;
    border: solid 0.5px #bdc1ca;
    transition: border-radius 0.2s linear;
    margin-right: 14%;
    line-height: 1.4em;
}

.bubble-right{
    background: #fff;
    float: right;
    display: inline-block;
    border-radius: 15px;
    margin: 2px 20px;
    overflow: hidden;
    border: solid 0.5px #bdc1ca;
    transition: border-radius 0.2s linear;
    margin-left: 14%;

    line-height: 1.4em;
}

.bubble-text-input{
    background: #fff;
    display: inline-block;
    border-radius: 15px;
    margin: 2px 10px;
    overflow: hidden;
    border: solid 0.5px #bdc1ca;
    transition: border-radius 0.2s linear;
    line-height: 1.4em;
}
